<%= form_with model: @message do |f| %>

  
    <div class="field">
      <%= f.label :chat_id %>
      <%= f.collection_select :chat_id, Chat.all, :id, :id, prompt: "Select Chat" %>
    </div>
  
    <div class="field">
      <%= f.label :user_id %>
      <%= f.collection_select :user_id, User.all, :id, :to_s, prompt: "Select Author" %>
    </div>
  
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
  
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  