<%= form_with model: @chat do |f| %>
  
    <div class="field">
      <%= f.label :sender_id %>
      <%= f.collection_select :sender_id, User.all, :id, :to_s, prompt: "Select Sender" %>
    </div>
  
    <div class="field">
      <%= f.label :receiver_id %>
      <%= f.collection_select :receiver_id, User.all, :id, :to_s, prompt: "Select Receiver" %>
    </div>
  
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  